<div id="modalListLogradouros" class="modal bd-example-modal-lg-edit" tabindex="-1" role="dialog-edit" aria-hidden="true"  aria-labelledby="myLargeModalLabelNew">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content edit">
            <div class="modal-header class_header_new">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-edit-title" id="New">Lista de Logradouros</h3>
            </div>

            <div class="table-responsive col-md-12">
                <table id="tabListLogradouro" class="table table-striped" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th>Seleção</th>
                            <th>ID</th>
                            <th>Tipo</th>
                            <th>Nome</th>
                        </tr>
                    </thead>
                    <tbody id="modalLogradourosListData"></tbody>

                    </tbody>
                </table>
            </div>

            <div class="form-row"  id="actions">
                <div class="modal-footer">
                </div>

                <div class="modal-footer class_footer_new">
                    <button type="button" class="btn btn-outline-info" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <script>

        (function ($) {
            $.fn.drags = function (opt) {

                opt = $.extend({
                    handle: "",
                    cursor: "move"
                }, opt);

                var $selected = this;
                var $elements = (opt.handle === "") ? this : this.find(opt.handle);

                $elements.css('cursor', opt.cursor).on("mousedown", function (e) {
                    var pos_y = $selected.offset().top - e.pageY,
                    pos_x = $selected.offset().left - e.pageX;
                    $(document).on("mousemove", function (e) {
                        $selected.offset({
                            top: e.pageY + pos_y,
                            left: e.pageX + pos_x
                        });
                    }).on("mouseup", function () {
                        $(this).off("mousemove"); // Unbind events from document                
                    });
                    e.preventDefault(); // disable selection
                });

                return this;

            };
        })(jQuery);
        
    </script>
</div>