<!-- Modal -->
<div id="modalDelete" class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">

            <div id="ModalHeaderDelEmp" class="modal-header class_header_del">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
                <h4 class="modal-title white-text w-100 font-weight-bold py-2">Confirma excluir Tipo Vinculo Empresa?</h4>
            </div>

            <form class="form-add" name="tveModalDel" id="tveModalDel" method="post">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="modDelTveId">id</label>
                        <input type="text" class="form-control" id="modDelTveId" name="modDelTveId" readonly>
                    </div>

                    <div class="form-group col-md-5">
                        <label for="modDelTveDescricao">Descrição</label>
                        <input type="text" class="form-control" id="modDelTveDescricao" name="modDelTveDescricao" readonly>
                    </div>
                </div>

                <div class="form-row"  id="actions">
                    <div class="modal-footer"></div>
    
                    <div id="ModalFooterDelEmp" class="modal-footer class_footer_del">
                        <button type="button" class="btn  btn-success" data-dismiss="modal">Não</button>
                        <input type="button" onclick="excluir()" value="Sim" class="btn">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var id = 0;

    $(document).ready(function(){
        $(document).on('click','.view_data', function(){

            id        = $(this).attr("id");
            descricao = $(this).attr("descricao");

            $("#modDelTveId").val(id);
            $("#modDelTveDescricao").val(descricao);

            $('#modalDelete').modal({show: true});
        });
    });

    function excluir() {

        $.ajax({
            type: "delete",
            url: '/tiposVinculoEmpresaDelete',
            data: {id: id},
            dataType: 'json',
            success: function(response) {
                $('#modalDelete').modal('hide');
                window.location.href = '/tiposVinculoEmpresaList';
            },
            error: function(response) {
                console.log(response);
            }
        });
        
    }
</script>
