<!-- Modal -->
<div id="modalDelete" class="modal fade" id="modalTituPatDel" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content edit">
            <form class="form-add" name="tituPatModalDel" id="tituPatModalDel" method="post">
                <div id="ModalHeaderDelTp" class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">&times;</span>
                    </button>
                    <h4 class="modal-title white-text w-100 font-weight-bold py-2">Confirma Excluir Tìtulo Patente?</h4>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="modDelTituPatId">Id</label>
                        <input type="text" class="form-control" id="modDelTituPatId" name="modDelTituPatId" readonly>
                    </div>

                    <div class="form-group col-md-7">
                        <label for="modDelTituPatDescricao">Descrição</label>
                        <input type="text" class="form-control" id="modDelTituPatDescricao" name="modDelTituPatDescricao" readonly>
                    </div>
                </div>

                <div class="form-row"  id="actions">
                    <div class="modal-footer"></div>

                    <div id="ModalFooterDelTp" class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">Não</button>
                        <button type="button" class="btn btn-outline-info" onclick="excluir()">Sim</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    
    <script>
        var id = 0;
    
        $(document).ready(function(){
            $(document).on('click','.view_data', function(){

                // Seta a cor do cebeçalho e rodape de acordo com a operação. Aqui Edit
                setHeaderFooterTp("X");
    
                id = $(this).attr("id");
                descricao = $(this).attr("descricao");

                $("#modDelTituPatId").val(id);
                $("#modDelTituPatDescricao").val(descricao);
                $('#modalDelete').modal({show: true}); 
            });
        });
    
        function excluir() {
    
            $.ajax({
                type: "delete",
                url: '/tituloPatenteDelete',
                data: {id: id},
                dataType: 'json',
                success: function(response) {
                    $('#modalDelete').modal('hide');
                    window.location.href = '/titulosPatentesList';
                },
                error: function(response) {
                    console.log(response);
                }
            });
        }
    </script>
</div>    