<nav class="navbar navbar-menu" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#elementoCollapse1">

                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

            </button>

            <a href="#" class="navbar-brand">Codiub</a>
        </div>

        <div class="collapse navbar-collapse" id="elementoCollapse1">

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Endereços<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/bairrosList">Bairros</a></li>
                        <li><a href="/cepsList">Ceps</a></li>
                        <li><a href="/cidadesList">Cidades</a></li>
                        <li><a href="/estadosList">Estados</a></li>
                        <li><a href="/logradourosList">Logradouros</a></li>
                        <li><a href="/paisesList">Paises</a></li>
                        <li class="divider"></li>
                        <li><a href="/tiposEnderecosList">Tipos Endereços</a></li>
                        <li><a href="/tiposLogradourosList">Tipos Logradouros</a></li>
                        <li><a href="/tiposvinculoEmpresaList">Tipos Vinculos Empresas</a></li>
                        <li><a href="/titulosPatentesList">Titulos e Patentes</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pessoas<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/pessoasList">Pessoas</a></li>
                        <li class="divider"></li>
                        <li><a href="/cartoriosList">Cartórios</a></li>
                        <li><a href="/profissoesList">Profissões</a></li>
                        <li><a href="/tiposContatosList">Tipos Contatos</a></li>
                        <li><a href="/tiposDocumentosList">Tipos Documentos</a></li>
                        <li><a href="/tiposPessoasList">Tipos Pessoas</a></li>
                        <li><a href="/tiposRelacionamentosList">Tipos Relacionamentos</a></li>
                    </ul>
                </li>

            </ul>

            <!--<p class="navbar-text navbar-right">Olá <strong>Fulano</strong></p>

            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Busca">
                </div>
                <input type="submit" value="OK" class="btn btn-primary" />

                <button type="button" class="btn btn-default">Cadastro</button>

            </form> -->
        </div>
    </div>
</nav> 