<div id="modalLogradouroSearch"  class="modal bd-example-modal-lg-edit" tabindex="-1" role="dialog" aria-hidden="true"  aria-labelledby="myLargeModalLabelNew">        
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content edit">
            <div id="ModalHeaderDelEmp" class="modal-header class_header_Sea">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
                <h4 class="modal-title white-text w-100 font-weight-bold py-2">Consulta Logradouro</h4>
            </div>

            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="modConLogradCidade">Cidade</label>
                        <input type="text" class="form-control" id="modConLogradCidade" name="modConLogradCidade" disabled="true">
                    </div>
        
                    <div class="form-group col-md-4">
                        <label for="modConLogradDistrito">Distrito</label>
                        <input type="text" class="form-control" id="modConLogradDistrito" name="modConLogradDistrito" disabled="true">
                    </div>

                    <div class="form-group col-md-2">
                        <label for="modalInputEstado">Estado</label>
                        <input type="text" class="form-control" id="modConLogradEstado" name="modConLogradEstado" disabled="true">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="modConLogradBairro">Bairro</label>
                        <input type="text" class="form-control" id="modConLogradBairro" name="modConLogradBairro" disabled="true">
                    </div>
        
                    <div class="form-group col-md-4">
                        <label for="modConLogradTpLograd">Tipo Logradouro</label>
                        <input type="text" class="form-control" id="modConLogradTpLograd" name="modConLogradTpLograd" disabled="true">
                    </div>

                    <div class="form-group col-md-8">
                        <label for="modConLogradNmLograd">Nome</label>
                        <input type="text" class="form-control" id="modConLogradNmLograd" name="modConLogradNmLograd" disabled="true">
                    </div>
                </div>

                <div class="form-row">

                    <div class="form-group col-md-6">
                        <label for="modConTituPate">Título Patente</label>
                        <input type="text" class="form-control" id="modConTituPate" name="modConTituPate" disabled="true">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="modConPreposicao">Preposição</label>
                        <input type="text" class="form-control" id="modConPreposicao" name="modConPreposicao" disabled="true">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="modConNmReduzido">Nome Reduzido</label>
                        <input type="text" class="form-control" id="modConNmReduzido" name="modConNmReduzido" disabled="true">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="modConNmSimples">Nome Simples</label>
                        <input type="text" class="form-control" id="modConNmSimples" name="modConNmSimples" disabled="true">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="modConDtCriacao">Data Criação</label>
                        <input type="date" id="modConDtCriacao" name="modConDtCriacao" class="form-control" disabled="true">
                    </div>
    
                    <div class="form-group col-md-3">
                        <label for="modConCriacao">Lei Criação</label disabled="true">
                        <input type="text" class="form-control" id="modConCriacao" name="modConCriacao" disabled="true">
                    </div>
    
                    <div class="form-group col-md-3">
                        <label for="modConDtDecreto">Data Decreto</label>
                        <input type="date" id="modConDtDecreto" name="modConDtDecreto" class="form-control" disabled="true">
                    </div>
    
                    <div class="form-group col-md-3">
                        <label for="modConDecreto">Decreto</label>
                        <input type="text" class="form-control" id="modConDecreto" name="modConDecreto" disabled="true">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="modConDtPortaria">Data Portaria</label>
                        <input type="date" class="form-control" id="modConDtPortaria" name="modConDtPortaria" disabled="true">
                    </div>
    
                    <div class="form-group col-md-3">
                        <label for="modConPortaria">Portaria</label>
                        <input type="text" class="form-control" id="modConPortaria" name="modConPortaria" disabled="true">
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="modConComplemento">Complemento</label>
                            <input type="text" class="form-control" id="modConComplemento" name="modConComplemento" disabled="true">
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-row col-md-6">
                        <label for="modConVereador">Vereador</label>
                        <input type="text" class="form-control" id="modConVereador" name="modConVereador" disabled="true">
                    </div>

                    <div class="form-row col-md-6">
                        <label for="modConCnpjCpf">C.N.P.J / C.P.F</label>
                        <input type="text" class="form-control" id="modConCnpjCpf" name="modConCnpjCpf" disabled="true">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="modConObservacao">Observação</label>
                        <input type="text" class="form-control" id="modConObservacao" name="modConObservacao" disabled="true">
                    </div>
                </div>

                <div class="form-row"  id="actions">
                    <div class="modal-footer"></div>
    
                    <div id="ModalFooterDelEmp" class="modal-footer class_footer_Sea">
                        <button type="button" class="btn  btn-success" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script>
        var id = 0;
        var bairro = 0;
        var dados = {};
    
        //Consulta
        $(document).ready(function(){
            $(document).on('click','.view_detail', function(){
                id     = $(this).attr("id");
                bairro = $(this).attr("bairro");

                dados = { id: id, bairro: bairro };

                $.ajax({
                    type: "get",
                    url: '/logradourosEdit',
                    data: dados,
                    dataType: 'json',
                    success: function (dados) {
                        $("#modConLogradCidade").val(dados.logradouro[0][0]);
                        $("#modConLogradDistrito").val(dados.logradouro[0][1]);
                        $("#modConLogradEstado").val(dados.logradouro[0][23]);
                        $("#modConLogradNmLograd").val(dados.logradouro[0][3]);
                        $("#modConNmReduzido").val(dados.logradouro[0][6]);
                        $("#modConNmSimples").val(dados.logradouro[0][7]);
                        $("#modConDtCriacao").val(dados.logradouro[0][8]);
                        $("#modConCriacao").val(dados.logradouro[0][9]);
                        $("#modConDtDecreto").val(dados.logradouro[0][10]);
                        $("#modConDecreto").val(dados.logradouro[0][11]);
                        $("#modConDtPortaria").val(dados.logradouro[0][12]);
                        $("#modConPortaria").val(dados.logradouro[0][13]);
                        $("#modConComplemento").val(dados.logradouro[0][19]);
                        $("#modConObservacao").val(dados.logradouro[0][18]);
                        $("#modConVereador").val(dados.logradouro[0][15]);
                        $("#modConCnpjCpf").val(dados.logradouro[0][17]);
                        
                        for (var i = 0; i < dados.bairros.length; i++) {
                            temp = dados.bairros[i];
                            if(temp[0] == dados.bairroCep[0][0]){
                                $("#modConLogradBairro").val(temp[1]);
                            };
                        };

                        for (var i = 0; i < dados.tiposLogradouros.length; i++) {
                            temp = dados.tiposLogradouros[i];
                            if(temp[0] == dados.logradouro[0][22]){
                                $("#modConLogradTpLograd").val(temp[1]);
                            };
                        };

                        for (var i = 0; i < dados.titulosPatentes.length; i++) {
                            temp = dados.titulosPatentes[i];
                            if(temp[0] == dados.logradouro[0][4]){
                                $("#modConTituPate").val(temp[1]);
                            };
                        };

                        for (var i = 0; i < dados.preposicao.length; i++) {
                            temp = dados.preposicao[i];
                            if(temp[0] == dados.logradouro[0][5]){
                                $("#modConPreposicao").val(temp[1]);
                            };
                        };

                        event.preventDefault();
                        $('#modalLogradouroSearch').modal({'show':true});
                    }
                });
            });
        });
    
    </script>
</div>